/// header ///
.header {
    position: absolute;
    height: 6rem;
    width: 100%;
    background-color: rgba($color: #ffffff, $alpha: 0);

    /// logo ///
    .logo {
        position: absolute;
        top: 40%;
        left: 3rem;
        margin: 0%;
        float: left;
        z-index: 1;
        a {
            text-decoration: none;
            color: #212940;
            .logoname {
                color: #f2f2f2;
                font-size: 36px;
            }
            .logotitle {
                font-size: 24px;
            }
        }
    }

    /// navbar ///
    .navbar {
        float: left;
        position: absolute;
        left: 80rem;
        top: 1.7rem;
        z-index: 1;
        li {
            list-style-type: none;
            float: left;
            margin-left: 4rem;
            a {
                font-size: 24px;
                color: #F2F2F2;
                text-decoration: none;
            }
        }
    }
}
